<div id="resources_container" class="container">
    <ul id="resources">
        <li class="section active">
            <div class="actions">
                <a class="action-show-hide">Show/hide</a>
            </div>
            <h1>Welcome to the API documentation</h1>

            <div class="section-list">
                <h2>General Information about the API:</h2>
                <br>
                <p>- The request language is sent in the <code>Accept-Language</code> header, the default value is en.</p>
                <p>Thank you for reading.</p>
            </div>
        </li>
    </ul>
</div>